# Nuxt 4
.nuxt
.nitro
.output
.vue-router

# Dependencies
node_modules
bun_modules
.pnpm-store

# Bun lockfile
bun.lockb

# IDE
.idea
.vscode
*.swp
*.swo
*~

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime
.cache

# Build
dist
build

# Environment
.env
.env.*
!.env.example

# Testing
coverage

# Misc
.DS_Store
*.pem

# Local
*.local
